@model MyBlog.Models.Post
@using MyBlog.Models
@{
    ViewData["Title"] = Model.Name;
}
<div>
    @Html.ActionLink("Edit", "EditPost", new { Model.Id }) |
    @Html.ActionLink("Delete", "DeletePost", new { Model.Id }) 
</div>

<div col-lg-8>
    <h1>@Model.Name</h1>
    <span>@Model.Description</span>
    <br />
    <span class="lead"> by @Model.User posted @Model.Date.ToString("MM/dd/yyyy")</span>

    <hr />
    @Html.Raw(Model.Content)

    @*<dl class="row">
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
        </dl>*@
    <hr />
    @await Html.PartialAsync("AddComment", new Comment { PostId = Model.Id })
    <hr />
    @foreach (var item in ViewBag.Comments)
    {
        <div>
            <h3>
                > @(!String.IsNullOrEmpty(item.User)  ? item.User : "Anonimus") :
                <samll class="lead">
                    @item.Date.ToString("H:mm on dd/MM/yyy");
                </samll>
            </h3>
            <p>@item.Content</p>
        </div>
    }
</div>

